#Generic inputrc

## Put this in your main ~/.inputrc
#  $include ~/dotfiles/.inputrc

set completion-ignore-case on

set match-hidden-files on

#Show all if ambiguous with out ringing bell
set show-all-if-ambiguous on

# Never ring a bell
set bell-style none


# Respect default shortcuts.
$include /etc/inputrc

#  SMART Searching start history search then press up
## arrow up
"\e[A":history-search-backward

## arrow down
"\e[B":history-search-forward




########################## 
## This section maybe specific to work
##########################

"\e[3~": delete-char
# this is actually equivalent to "\C-?": delete-char
# VT
"\e[1~": beginning-of-line
"\e[4~": end-of-line
# kvt
"\e[H":beginning-of-line
"\e[F":end-of-line
# rxvt and konsole (i.e. the KDE-app...)
"\e[7~":beginning-of-line
"\e[8~":end-of-line
