# Some useful Unicode entities
# Non-Breaking Space
snippet initial
	initial begin
	  ${1}
	end
# 
snippet comb
	always @* begin
	  ${1}
	end
# 
snippet flop
	always @(posedge clk or negedge rst_n) begin
	  if (~rst_n) begin
		  ${1}
		end
		else begin
			${2}
		end
	end
# 
