snippet initial
  initial begin

	end

snippet flop
  always @(posedge clk or negedge rst_n) begin
		if (!rst_n) begin

		end
		else begin

		end
	end

snippet comb
  always @* begin

	end

snippet if
	if ( ${1:condition} ) begin
		${2:#statements}
	end
snippet else
	else begin 
  
  end
snippet for
	for (( ${2:i} = 0; $2 < ${1:count}; $2 = $2+1 )) begin
		${3:#statements}
	end
snippet case
	case (${1:word})
		0 :${2:apattern} ;
		
		default : ;
	endcase
